
chapter-2/target
chapter-3/target
chapter-4/target
chapter-5/target
chapter-6/target
chapter-7/target
chapter-7/communicator/target
chapter-7/privacy/target
chapter-8/target
chapter-9/target

chapter-10/target/

chapter-11/target/

chapter-11/adder/target/

chapter-11/add-two/target/

chapter-11/greeting/target/

chapter-11/guess/target/

chapter-11/silly-function/target/

chapter-12/target/
chapter-12/minigrep/target
chapter-13/target
.idea
chapter-13/shoe/target
chapter-14/target
chapter-14/my_crate/target
chapter-14/art/target
